<div class="middle formBackground container-fluid">
<div class="col-md-1"></div>
		<div class="row">
			<div class="col-xs-3 col-md-2">Destination</div>
			<div class="col-xs-3 col-md-2">Cost</div>
			<div class="col-xs-3 col-md-2">Savings</div>
			<div class="col-xs-3 col-md-2">Time</div>
		</div>
		
		<div class="row pre-scrollable">
			<div class="col-xs-3 col-md-2">Destination</div>
			<div class="col-xs-3 col-md-2">Cost</div>
			<div class="col-xs-3 col-md-2">Savings</div>
			<div class="col-xs-3 col-md-2">Time</div>
		</div>
	<div class="col-md-1"></div>
</div>