<div class="container text-center" id="profile">
	<div class="row">
    <h3>Your Account</h3>
		<div class="text-left col-md-6 col-xs-6">
      <p class="subtitle spacer color4">How much did you save today?</p>
      <form novalidate>
        Add money not spent today: <input type="number" placeholder="Amount" class="form-control" ng-model="savings">
        <br>
        <input type="submit" ng-click="updateDaily(savings, user)" class="btn btn-sm btn_default" value="Save!">
      </form>


      <p class="subtitle spacer color1">Recurring Savings</p>
      Add recurring transfer: <input type="text" placeholder="Amount" class="form-control"><p class="spacer"><a
        href="#/" class="btn btn-sm btn_default">Add to savings</a></p>
		</div>
		<div class="col-md-6 col-xs-6">
			<p class="subtitle spacer color2">Total Savings</p>
			<p class="lg_text" ng-model="user.bank.totalSavings">${{user.bank.totalSavings}}.00</p>
			<p class="subtitle spacer color3">This Week's Savings</p>
			<p><span class="lg_text" ng-model="user.bank.pendingDeposit">${{user.bank.pendingDeposit}}</span>/wk</p>
		</div>
		<div>

		</div>
	</div>
	<!--<div class="row spacer"><a href="#/profile" class="btn btn_default">Logout</a></div>-->
</div>