
<div class="container text-center" id="profile">
	<div class="row">
		<div class="text-left col-md-8 col-xs-8">
        <h3>Your Account</h3>
		</div>
    <div class="text-center col-md-4 col-xs-4">
      <p class="subtitle spacer color2">Total Savings:
        <span ng-model="user.bank.totalSavings" style="color:white">${{user.bank.totalSavings}}.00</span>
      </p>
    </div>
  </div>
  <div class="row">
      <p class="subtitle spacer color3">This Week's Savings</p>
      <p><span class="lg_text" ng-model="user.bank.pendingDeposit">${{user.bank.pendingDeposit}}</span>/wk</p>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <p class="subtitle spacer color4">How much did you save today?</p>
      Add money saved today:
      <form novalidate class="form-inline">
        <div class="form-group">
          <input type="number" placeholder="Amount" class="form-control" ng-model="savings">
        </div>
        <div class="form-group">
          <input type="submit" ng-click="updateDaily(savings, user)" class="btn btn-sm btn_default" value="Save">
        </div>
      </form>
      <section id="daily-options">
        <div class="well interior-well">
          <div class="row">
            <div class="col-md-2 col-xs-4">
              <i class="fa fa-2x fa-coffee"></i>
            </div>
            <div class="col-md-6 col-xs-4">
              <p>Coffee</p>
            </div>
            <div class="col-md-4 col-xs-4">
              <button class="btn btn-lg btn-success" ng-click="updateDaily(3, user)">$3</button>
            </div>
          </div>
        </div>
        <div class="well interior-well">
          <div class="row">
            <div class="col-md-2 col-xs-4">
              <i class="fa fa-2x fa-apple"></i>
            </div>
            <div class="col-md-6 col-xs-4">
              <p>Breakfast</p>
            </div>
            <div class="col-md-4 col-xs-4">
              <button class="btn btn-lg btn-success" ng-click="updateDaily(6, user)">$6</button>
            </div>
          </div>
        </div>
        <div class="well interior-well">
          <div class="row">
            <div class="col-md-2 col-xs-4">
              <i class="fa fa-2x fa-bars"></i>
            </div>
            <div class="col-md-6 col-xs-4">
              <p>Lunch</p>
            </div>
            <div class="col-md-4 col-xs-4">
              <button class="btn btn-lg btn-success" ng-click="updateDaily(8, user)">$8</button>
            </div>
          </div>
        </div>
        <div class="well interior-well">
          <div class="row">
            <div class="col-md-2 col-xs-4">
              <i class="fa fa-2x fa-glass"></i>
            </div>
            <div class="col-md-6 col-xs-4">
              <p>Dinner</p>
            </div>
            <div class="col-md-4 col-xs-4">
              <button class="btn btn-lg btn-success" ng-click="updateDaily(15, user)">$15</button>
            </div>
          </div>
        </div>
      </section>









      <p class="subtitle spacer color1">Recurring Savings</p>
      Add recurring transfer:
      <form class="form-inline">
        <div class="form-group">
          <input type="text" placeholder="Title" class="form-control">
        </div>
        <div class="form-group">
          <input type="number" placeholder="Amount" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" ng-click="updateRecurring(savingsRec, user)" class="btn btn-sm btn_default"
                 value="Save">
        </div>
      </form>
      <div class="well interior-well">
        <div class="row">
          <div class="col-md-2 col-xs-4">
            <i class="fa fa-2x fa-university"></i>
          </div>
          <div class="col-md-6 col-xs-4">
            <p>4% of Paycheck</p>
          </div>
          <div class="col-md-4 col-xs-4">
            <p>$120/mo</p>
          </div>
        </div>
      </div>
      <div class="well interior-well">
        <div class="row">
          <div class="col-md-2 col-xs-4">
            <i class="fa fa-2x fa-television"></i>
          </div>
          <div class="col-md-6 col-xs-4">
            <p>Cancelled Cable</p>
          </div>
          <div class="col-md-4 col-xs-4">
            <p>$40/mo</p>
          </div>
        </div>
      </div>
    </div>
	</div>
	<!--<div class="row spacer"><a href="#/profile" class="btn btn_default">Logout</a></div>-->
</div>