<div class="row top-row" data-ng-init="unrealSearch()">
</div><!--row end -->
<div class="row mid-row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="row">
      <div class="col-xs-3 text-center">
        <h4>Destination</h4>
      </div><!-- col end -->
      <div class="col-xs-3 text-center">
        <h4>Cost</h4>
      </div><!-- col end -->
      <div class="col-xs-2 text-center">
        <h4>Expiration Date</h4>
      </div><!-- col end -->
      <div class="col-xs-2 text-right">
        <h4>Savings $</h4>
      </div><!-- col end -->
      <div class="col-xs-2 text-right">
        <h4>Savings %</h4>
      </div><!-- col end -->
  </div><!-- col end -->
  <!-- items -->
  <ul>
    <li ng-repeat="item in unreal" class="well">
      <div class="row">
        <div class="col-xs-3 pop-destination">
          {{item.destinationTLA}}
        </div>
        <div class="col-xs-2 pop-cost">
          {{item.totalPackagePrice | currency: $ : 0}}
        </div>
        <div class="col-xs-3 pop-weekly">
          {{item.expiryDate | date : shortDate}}
        </div>
        <div class="col-xs-2 text-right pop-time">
          {{item.totalPackageSavings | currency : $ : 0}}
        </div>
        <div class="col-xs-2 text-right pop-time">
          {{item.totalPackageSavingsPct | number : 0}}%
        </div>
      </div>
      <hr></hr>
      <div class="row unreal-text">
        <h3 class="text-center">
          Saving <strong>$40/wk</strong> it would take you <strong>{{(item.totalPackagePrice / 40) /4 | number : 0}}</strong> months to get there.
        </h3>
        <h6 class="text-center"><a ng-href="{{item.deeplink}}">Expedia Unreal Deal link</a></h6>
      </div>
    </li>
  </ul>
</div><!-- row end -->
<div class="row">
</div><!-- row end -->
