.home_body {
  background-image: url('../img/homepage_cropped.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.logo {
  height: 100px;
  margin-left: 25px;
  margin-right: 25px;
}

.center-row {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.tab-heading {
  margin-bottom: 10px;
}

.pill-tabs {
  margin: 0 125px;
  display: inline-block;
}

.savings_per_year {
  color: rgb(255, 255, 255);
}

.pagination {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.pagination li {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
}
body {
  color: rgb(255, 255, 255);
  height: 100%;
}

.footer {
  position: relative;
  font-size: 9px;
}
