.home_body {
  background-image: url('../img/bg_profile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.user_body {
  background-image: url('../img/travel_photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.deal_body {
  background-image: url('../img/luggage_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.logo {
  height: 100px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.center-row {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
}

.quote {
  color: rgb(91, 91, 91);
  margin-top: 0;
  margin-bottom: 15px;
}

.tab-heading {
  margin-bottom: 10px;
}

.pill-tabs {
  display: inline;
  width: 100%;
}

.savings_per_year {
  color: rgb(255, 255, 255);
}

#monthly_income_amount {
  float: left !important;
  display: inline-flex ;
}

#income_percentage {
  float: left !important;
  display: inline-flex ;
}

.form-inline {
  width: 100% !important;
}

.form-control {
  width: 100% !important;
}

.class {
  display: inline !important;
  width: 100% !important;
}

.pagination {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.pagination li {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
}

body {
	/*background: url("../img/bg.jpg") no-repeat center center fixed; */
	background: url("http://www.letstravelsomewhere.com/wp-content/uploads/2013/05/lets-travel-to-bolivia-with-tony-harrison-10.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #DEDEDE;
	letter-spacing: 2px;
}

.inline {
	display: inline-block;
}

/*footer styles*/
html {
	position: relative;
    min-height: 100%;
}

.footer {
  	position: absolute;
  	font-size: 9px;
  	bottom: 0px;
  	width: 100%;
 	height: 20px;
 	/*margin-top: 20px;*/
 	padding-top: 40px;
 	/*margin-bottom: 20px;*/
 	text-align: center;
	vertical-align: middle;
}

.formBackground {
	background-color: rgba(0,0,0,.6);
	padding: 30px;
	border-radius: 5px;
}

.formBackground legend {
    color: white;
}

.block {
	display: block;
}

li{
	list-style: none;
}

.underline {
	border-bottom: solid 2px #DEDEDE;
	padding-bottom: 3px;
	width: 100px;
}

.spacer {
	margin-top: 30px;
}

.btn_default {
	background-color: #6B0018;
	border-radius: 8px;
	color: white;
	border: solid white 2px;
}

.btn_default:hover {
	background-color: #E85C43;
	color: white;
}

.btn_default:visited {
	color: white;
}

.lg_text{
	font-size: 30px;
}

.md_text {
	font-size: 20px;
}

#profile .subtitle {
	font-size: 20px;
}

.color1 {
	color: #4EFF54;
}
.color2 {
	color: #E8AF0C;
}
.color3 {
	color: #3A98FF;
}
.color4 {
	color: #E86443;
}

/*profile*/
#profile {
	background-color: rgba(0, 0, 0, .7);
	/*margin: 0 auto;*/
	/*border-radius: 20px;*/
	padding: 20px 50px;
    width: 100%;
}

.stick_left {
	float: right;
	z-index: -1;
}

.imgContainer {
	/*background-image: url("../img/cloud.png");*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 80px;
	margin: 30px 0;
	padding-top: 30px;
}

.imgContainer1 {
	background-image: url("../img/cloud.png");

}

.imgContainer2 {
	background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-position: center;
}

.imgContainer3 {
	background-image: url("../img/suitcase.png");
}

.imgContainer4 {
	background-image: url("../img/bar-gradient.png");
	height: 50px;
}
